@use "../abstracts/media_queries" as *;

.back-to-top {
    --button-size: calc(var(--space-ml) + 0.5rem);
    position: fixed;
    bottom: var(--space-m);
    right: var(--space-m);
    z-index: 5;
    width: var(--button-size);
    height: var(--button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: var(--space-xs);
    background-color: hsla(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        var(--clr-secondary-l),
        0.9
    );
    color: var(--clr-white);

    transition-property: visibility, opacity;
    transition-duration: var(--animation-duration);
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }

    &:hover {
        background-color: hsl(
            var(--clr-secondary-h),
            var(--clr-secondary-s),
            calc(var(--clr-secondary-l) + 1%)
        );
    }

    @include desktop-small-up {
        bottom: var(--space-ml);
        right: calc(var(--site-margins) - var(--space-l));
    }
}
