@use "../abstracts/media_queries" as *;

@mixin hoverLink {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: var(--clr-text-important);
        height: var(--thickness-s);
        transition-duration: var(--transition-duration);
        transition-property: opacity;

        @include no-reduced-motion {
            opacity: 1;
            width: 0;
            transition-property: width;
        }
    }

    &:hover {
        outline: none;

        &::before {
            width: 100%;
            opacity: 1;
        }
    }
}
