@use "../abstracts/media_queries" as *;

i {
    font-style: unset;
    font-size: var(--font-size-m);

    &::after {
        display: block;
        width: max-content;

        @include no-reduced-motion {
            transition: transform var(--animation-duration);
        }
    }
}

.icon-group {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
}

.icon-find {
    &::after {
        content: "\26B2";
        font-weight: 700;
        transform: rotate(-45deg) scale(1.15);
    }
}

.icon-down-arrow {
    &::after {
        content: "\21CA";
    }
}
