@use "../abstracts/media_queries" as *;

html {
    scroll-behavior: smooth;
    font-size: 15px;

    p {
        line-height: 1.5;
    }
}

body {
    background-color: var(--clr-main);
    color: var(--clr-text);
    min-height: 100vh;
    overflow-x: hidden;
    transition-property: background-color, color;
    transition-duration: var(--animation-duration);
}

main {
    position: relative;
    transition: filter var(--animation-duration);
    margin: 0 var(--site-margins);
    max-width: var(--site-content-width);
    padding: var(--space-xl) 0;
    overflow-x: visible;

    &.blur {
        filter: blur(0.75rem) brightness(var(--blur-brightness-main));
    }
}

a {
    color: var(--clr-text-important);
}

img {
    width: 100%;
}
