@use "../abstracts/media_queries" as *;

html {
    font-family: "roboto", sans-serif;
    scroll-behavior: smooth;

    p {
        line-height: 1.5;
    }
}

body {
    font-size: var(--font-size-m);
    background-color: var(--clr-main);
    color: var(--clr-text);
    min-height: 100vh;
    overflow-x: hidden;
    transition-property: background-color, color;
    transition-duration: var(--animation-duration);
}

main {
    position: relative;
    transition: filter var(--animation-duration);
    margin: 0 var(--site-margins);
    padding: var(--space-l) 0;
    overflow-x: visible;

    &.blur {
        filter: blur(0.75rem) brightness(45%);
    }

    .page-heading {
        color: var(--clr-text-important);
        margin-bottom: var(--space-l);
    }

    @include desktop-medium-up {
        width: 65rem;
        margin: 0 auto;
    }
    @include desktop-large-up {
        width: 80rem;
    }
}

a {
    color: var(--clr-text-important);
}

img {
    width: 100%;
}
