@use "./media_queries" as *;

:root {
    // COLOURS
    --clr-main-h: 215;
    --clr-main-s: 100%;
    --clr-main-l: 9%;
    --clr-main: hsl(var(--clr-main-h), var(--clr-main-s), var(--clr-main-l));

    --clr-secondary-h: 250;
    --clr-secondary-s: 100%;
    --clr-secondary-l: 80%;
    --clr-secondary: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        var(--clr-secondary-l)
    );

    --clr-tertiary: hsl(310, 70%, 40%);

    --clr-black: hsl(0, 0%, 10%);
    --clr-white: hsl(0, 0%, 99%);
    --clr-grey-light: hsl(0, 0%, 88%);

    --clr-text: hsl(0, 0%, 75%);
    --clr-text-important: var(--clr-white);
    --clr-input: var(--clr-grey-light);
    --clr-input-hover: var(--clr-white);
    --clr-input-text: var(--clr-black);

    // Score colours
    --clr-scores-lightness: 50%;
    --clr-scores-saturation: 60%;
    --clr-score-bar-full: var(--clr-white);
    --clr-score-bar-empty: hsl(0, 0%, 90%);
    --clr-good: hsl(
        120,
        var(--clr-scores-saturation),
        var(--clr-scores-lightness)
    );
    --clr-warning: hsl(
        70,
        var(--clr-scores-saturation),
        var(--clr-scores-lightness)
    );
    --clr-bad: hsl(
        10,
        var(--clr-scores-saturation),
        var(--clr-scores-lightness)
    );

    // FONT SIZES
    --font-size-s: clamp(1rem, 2vw, 1.2rem);
    --font-size-m: clamp(1.3rem, 3vw, 1.4rem);
    --font-size-ml: clamp(1.7rem, 5.5vw, 1.8rem);
    --font-size-l: clamp(2rem, 7vw, 2.5rem);
    --font-size-xl: clamp(2.5rem, 10vw, 5rem);

    // MEASUREMENTS
    --thickness-s: 1px;
    --thickness-m: 0.1rem;
    --thickness-l: 0.2rem;
    --thickness-xl: 0.4rem;

    --space-xs: 0.5rem;
    --space-s: 1rem;
    --space-sm: 1.55rem;
    --space-m: 2rem;
    --space-ml: 3rem;
    --space-lm: 3.5rem;
    --space-l: 5rem;
    --space-xl: 7.5rem;

    --site-margins: var(--space-sm);

    // ANIMATIONS
    --transition-duration: 150ms;
    --animation-duration: 400ms;
    --animation-delay-min: 100ms;
    --animation-delay: 300ms;
    --animation-move-distance: var(--space-m);

    --time-s: 100ms;
    --time-m: 200ms;
    --time-l: 500ms;

    // MEDIA QUERIES
    @include small-device-up {
        --site-margins: var(--space-lm);
    }

    @include tablet-up {
        --site-margins: var(--space-xl);
    }

    @include desktop-small-up {
        --site-margins: 15%;
    }
}

[data-theme="light"] {
    --clr-main: white;
    --clr-text: hsl(0, 0%, 40%);
    --clr-text-important: var(--clr-black);

    --clr-scores-lightness: 35%;
}
