.cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    justify-content: center;
    gap: var(--space-ml);

    br,
    i {
        display: none;
    }
}
