@use "../abstracts/media_queries" as *;

.cards-section {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--space-ml);

    @include small-device-up {
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop-small-up {
        grid-template-columns: repeat(3, 1fr);
    }
}
