@media (prefers-reduced-motion: no-preference) {
  @keyframes search_options_startup {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: var(--opacity-value);
    }
  }
}
.search-options {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-s);
  margin-bottom: var(--space-m);
  animation-name: search_options_startup;
  animation-duration: calc(var(--animation-duration) * 1.75);
  opacity: var(--opacity-value);
  transition: opacity var(--animation-duration);
  --opacity-value: 1;
}
.search-options.disabled {
  --opacity-value: 0.7;
}
.search-options .icon-group,
.search-options select,
.search-options button {
  padding: var(--space-xs);
  height: 2.8rem;
  font-weight: 500;
  border: 1px solid var(--clr-input);
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: var(--font-size-s);
  color: var(--clr-input-text);
}
.search-options select,
.search-options button {
  cursor: pointer;
  background-color: var(--clr-input);
  transition-property: background-color;
  transition-duration: var(--animation-duration);
}
.search-options select:hover,
.search-options button:hover {
  background-color: var(--clr-input-hover);
}
.search-options select {
  width: max-content;
  outline: none;
}
.search-options select option:hover {
  background-color: white;
}
.search-options label {
  color: var(--clr-text-important);
}
.search-options .search-options-filter-name {
  width: 100%;
}
.search-options .search-options-filter-name .icon-group {
  background-color: var(--clr-input);
  width: 100%;
  transition-property: background-color;
  transition-duration: var(--animation-duration);
}
.search-options .search-options-filter-name .icon-group input[type=text] {
  color: var(--clr-input-text);
  padding: 0;
}
.search-options .search-options-filter-name .icon-group:hover {
  background-color: var(--clr-input-hover);
}
.search-options .search-options-filter-name .icon-group:focus-within {
  background-color: var(--clr-input-hover);
}
.search-options .search-options-filter-name .icon-group:focus-within .icon-find::after {
  transform: rotate(-405deg) scale(0.9) translateY(-10%);
}
.search-options .base-options {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
}
.search-options .base-options > section {
  min-width: max-content;
}
.search-options .base-options button.pressed .icon-down-arrow::after {
  transform: rotate(-540deg);
}
.search-options .page-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  gap: var(--space-s);
  font-size: var(--font-size-s);
}
.search-options .page-options section {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--space-xs);
  align-items: center;
}
.search-options .page-options select {
  width: 4.5rem;
}
@media (min-width: 576px) {
  .search-options .base-options {
    grid-column: 1/3;
  }
  .search-options .page-options {
    justify-content: flex-end;
  }
  .search-options .search-options-filter-name {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .search-options .search-options-filter-name {
    width: 65%;
  }
}
@media (min-width: 1400px) {
  .search-options .search-options-filter-name {
    width: 12rem;
  }
}

/*# sourceMappingURL=search_options.css.map */
