@use "../abstracts/media_queries" as *;

@include no-reduced-motion {
    @keyframes search_options_startup {
        from {
            transform: translateX(100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: var(--opacity-value);
        }
    }
}

.search-options {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--space-sm);
    margin-bottom: var(--space-m);

    // Statup animation, only runs once --------------------------
    animation-name: search_options_startup;
    animation-duration: calc(var(--animation-duration) * 1.75);
    //------------------------------------------------------------

    opacity: var(--opacity-value);
    transition: opacity var(--animation-duration);
    --opacity-value: 1;
    &.disabled {
        --opacity-value: 0.7;
    }

    .icon-group,
    select,
    button {
        padding: var(--space-xs);
        font-weight: 500;
        border: 1px solid var(--clr-input);
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: var(--font-size-s);
        color: var(--clr-input-text);
    }

    select,
    button {
        cursor: pointer;
        background-color: var(--clr-input);
        transition-property: background-color;
        transition-duration: var(--animation-duration);

        &:hover {
            background-color: var(--clr-input-hover);
        }
    }

    select {
        width: max-content;
        height: max-content;
        outline: none;

        option:hover {
            background-color: white;
        }
    }

    label {
        color: var(--clr-text-important);
    }

    .icon-group {
        background-color: var(--clr-input);
        width: 12rem;
        transition-property: background-color;
        transition-duration: var(--animation-duration);

        input[type="text"] {
            color: var(--clr-input-text);
        }
        &:hover {
            background-color: var(--clr-input-hover);
        }
        &:focus-within {
            background-color: var(--clr-input-hover);

            .icon-find::after {
                transform: rotate(-405deg) scale(0.9);
            }
        }
    }

    .base-options {
        display: flex;
        flex-wrap: wrap;
        grid-column: 1/3;
        gap: var(--space-s);

        & > section {
            min-width: max-content;
        }

        button {
            &.pressed {
                .icon-down-arrow::after {
                    transform: rotate(-540deg);
                }
            }
        }
    }

    .page-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        gap: var(--space-s);

        section {
            display: flex;
            gap: var(--space-xs);
            align-items: center;
        }
    }
}
