@charset "UTF-8";
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  background-color: transparent;
  border: none;
  resize: none;
  overflow: auto;
  font-family: inherit;
  font-size: inherit;
}
input:focus,
textarea:focus {
  outline: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

:root {
  --font-family-base: "Montserrat", monospace;
}

select,
button,
html {
  font-family: var(--font-family-base);
}

body {
  font-size: var(--font-size-m);
}

/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../../static/fonts/montserrat-v25-latin-300.woff2") format("woff2"), url("../../static/fonts/montserrat-v25-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../static/fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../../static/fonts/montserrat-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../static/fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../../static/fonts/montserrat-v25-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../../static/fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../../static/fonts/montserrat-v25-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../static/fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../../static/fonts/montserrat-v25-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  scroll-behavior: smooth;
  font-size: 11px;
}
html p {
  line-height: 1.5;
}
@media (min-width: 576px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 990px) {
  html {
    font-size: 15px;
  }
}

body {
  background-color: var(--clr-main);
  color: var(--clr-text);
  min-height: 100vh;
  overflow-x: hidden;
  transition-property: background-color, color;
  transition-duration: var(--animation-duration);
}

main {
  position: relative;
  transition: filter var(--animation-duration);
  width: 100%;
  /* max-width: var(--site-content-width); */
  padding: var(--space-xl) 0;
  overflow-x: visible;
}

a {
  color: var(--clr-text-important);
}

img {
  width: 100%;
}

.page-container {
  margin: 0 var(--site-margins);
  max-width: var(--site-content-width);
}

.blur {
  filter: blur(0.75rem) brightness(var(--blur-brightness-main));
}

:root {
  --clr-main-h: 235;
  --clr-main-s: 80%;
  --clr-main-l: 9%;
  --clr-main: hsl(var(--clr-main-h), var(--clr-main-s), var(--clr-main-l));
  --clr-secondary-h: 250;
  --clr-secondary-s: 100%;
  --clr-secondary-l: 80%;
  --clr-secondary: hsl(
      var(--clr-secondary-h),
      var(--clr-secondary-s),
      var(--clr-secondary-l)
  );
  --clr-tertiary-h: 250;
  --clr-tertiary-s: 100%;
  --clr-tertiary-l: 80%;
  --clr-tertiary: hsl(
      var(--clr-tertiary-h),
      var(--clr-tertiary-s),
      var(--clr-tertiary-l)
  );
  --clr-black: hsl(0, 0%, 10%);
  --clr-white: hsl(0, 0%, 99%);
  --clr-grey-light: hsl(0, 0%, 91%);
  --clr-text: hsl(0, 0%, 75%);
  --clr-text-important: var(--clr-white);
  --clr-input: var(--clr-grey-light);
  --clr-input-hover: var(--clr-white);
  --clr-input-text: var(--clr-black);
  --clr-scores-lightness: 50%;
  --clr-scores-saturation: 60%;
  --clr-score-bar-full: var(--clr-white);
  --clr-score-bar-empty: hsl(0, 0%, 90%);
  --clr-good: hsl(
      120,
      var(--clr-scores-saturation),
      var(--clr-scores-lightness)
  );
  --clr-warning: hsl(
      70,
      var(--clr-scores-saturation),
      var(--clr-scores-lightness)
  );
  --clr-bad: hsl(
      10,
      var(--clr-scores-saturation),
      var(--clr-scores-lightness)
  );
  --font-size-s: 1rem;
  --font-size-m: 1.1rem;
  --font-size-ml: 1.6rem;
  --font-size-l: 2.2rem;
  --font-size-xl: 2.9rem;
  --thickness-s: 1px;
  --thickness-m: 0.1rem;
  --thickness-l: 0.2rem;
  --thickness-xl: 0.4rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-sm: 1.55rem;
  --space-m: 2rem;
  --space-ml: 3rem;
  --space-lm: 3.5rem;
  --space-l: 5rem;
  --space-xl: 7.5rem;
  --site-margins: var(--space-sm);
  --site-content-width: 100%;
  --transition-duration: 150ms;
  --animation-duration: 400ms;
  --animation-delay-min: 100ms;
  --animation-delay: 300ms;
  --animation-move-distance: var(--space-m);
  --time-s: 100ms;
  --time-m: 200ms;
  --time-l: 500ms;
  --blur-brightness-main: 45%;
}
@media (min-width: 576px) {
  :root {
    --site-margins: var(--space-lm);
  }
}
@media (min-width: 768px) {
  :root {
    --site-margins: var(--space-xl);
  }
}
@media (min-width: 990px) {
  :root {
    --site-content-width: 50rem;
    --site-margins: calc((100% - var(--site-content-width)) / 2);
  }
}
@media (min-width: 1400px) {
  :root {
    --site-content-width: 80rem;
  }
}

[data-theme=light] {
  --clr-main-s: 0%;
  --clr-main-l: 98%;
  --clr-main: var(--clr-white);
  --clr-text: hsl(0, 0%, 40%);
  --clr-text-important: hsl(0, 0%, 5%);
  --clr-scores-lightness: 10%;
  --clr-score-bar-full: hsl(0, 0%, 80%);
  --clr-score-bar-empty: hsl(0, 0%, 85%);
  --blur-brightness-main: 110%;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes startup {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(var(--space-xs));
    }
  }
}
.header {
  width: 100%;
  min-height: var(--space-m);
  position: fixed;
  z-index: 10000;
  right: 0;
  left: 0;
  top: 0;
  padding: var(--space-xs) var(--site-margins);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100%);
  transition-property: background-color;
  transition-duration: var(--animation-duration);
}
@media (prefers-reduced-motion: no-preference) {
  .header {
    transition-property: background-color, transform, box-shadow;
    animation-name: startup;
    animation-duration: var(--animation-duration);
  }
}
.header a {
  font-size: var(--font-size-l);
}
.header .page-heading {
  color: var(--clr-text-important);
  min-width: max-content;
  font-size: var(--font-size-l);
  font-weight: 500;
}
.header.appear {
  transform: translateY(0);
}
.header.appear.initial-state {
  transform: translateY(var(--space-xs));
}
.header.appear:not(.active):not(.initial-state) {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: hsla(var(--clr-main-h), var(--clr-main-s), var(--clr-main-l), 0.9);
}
.header.active {
  transform: translateY(0);
  background-color: transparent;
}
.header.active nav {
  transform: translateX(0);
}
.header.active .hamburger:nth-child(1) {
  transform: translateY(calc(var(--thickness-xl) + var(--thickness-l))) rotate(225deg);
}
.header.active .hamburger:nth-child(2) {
  transform: rotate(-225deg);
}
.header.active .hamburger:nth-child(3) {
  opacity: 0;
  transform: translateY(calc(-1 * var(--thickness-xl) - var(--thickness-l))) rotate(-225deg);
}
.header nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  transition: transform var(--animation-duration);
  transform: translatex(100%);
  display: flex;
  justify-content: center;
}
.header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-ml);
  justify-content: center;
  align-items: center;
}
.header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header nav ul a {
  font-weight: 600;
  position: relative;
}
.header nav ul a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: var(--clr-text-important);
  height: var(--thickness-s);
  transition-duration: var(--transition-duration);
  transition-property: opacity;
}
@media (prefers-reduced-motion: no-preference) {
  .header nav ul a::before {
    opacity: 1;
    width: 0;
    transition-property: width;
  }
}
.header nav ul a:hover {
  outline: none;
}
.header nav ul a:hover::before {
  width: 100%;
  opacity: 1;
}
.header .topbar-toggle {
  z-index: 1000;
  width: var(--space-lm);
  height: calc(var(--space-lm));
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--thickness-xl);
}
.header .topbar-toggle .hamburger {
  position: relative;
  display: block;
  width: 100%;
  height: var(--thickness-l);
  background-color: var(--clr-secondary);
  transition: transform var(--animation-duration);
}
@media (min-width: 990px) {
  .header:not(.active) {
    min-height: var(--space-l);
  }
  .header:not(.active) .topbar-toggle {
    display: none;
  }
  .header:not(.active) a {
    font-size: var(--font-size-m);
  }
  .header:not(.active) nav {
    position: relative;
    width: max-content;
    height: 100%;
    transform: translatex(0);
  }
  .header:not(.active) nav ul {
    flex-direction: row;
  }
}

footer {
  text-align: center;
  padding: var(--space-m) 0;
}
footer h5,
footer h6 {
  font-size: var(--font-size-s);
}
footer a {
  position: relative;
}
footer a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: var(--clr-text-important);
  height: var(--thickness-s);
  transition-duration: var(--transition-duration);
  transition-property: opacity;
}
@media (prefers-reduced-motion: no-preference) {
  footer a::before {
    opacity: 1;
    width: 0;
    transition-property: width;
  }
}
footer a:hover {
  outline: none;
}
footer a:hover::before {
  width: 100%;
  opacity: 1;
}

.loading-wheel-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--space-l) 0;
}

i {
  font-style: unset;
  font-size: var(--font-size-m);
}
i::after {
  display: block;
  width: max-content;
}
@media (prefers-reduced-motion: no-preference) {
  i::after {
    transition: transform var(--animation-duration);
  }
}

.icon-group {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.icon-find::after {
  content: "⚲";
  font-weight: 700;
  transform: rotate(-45deg) scale(1.15) translateY(-10%);
}

.icon-down-arrow::after {
  content: "⇊";
}

.icon-move-up::after {
  content: "❰";
  font-weight: 700;
  font-size: var(--font-size-l);
  transform: rotate(90deg) translateY(-3%) translateX(-3%);
}

.back-to-top {
  --button-size: calc(var(--space-ml) + 0.5rem);
  position: fixed;
  bottom: var(--space-m);
  right: var(--space-m);
  z-index: 5;
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: var(--space-xs);
  background-color: hsla(var(--clr-secondary-h), var(--clr-secondary-s), var(--clr-secondary-l), 0.9);
  color: var(--clr-white);
  transition-property: visibility, opacity;
  transition-duration: var(--animation-duration);
}
.back-to-top.hidden {
  visibility: hidden;
  opacity: 0;
}
.back-to-top:hover {
  background-color: hsl(var(--clr-secondary-h), var(--clr-secondary-s), calc(var(--clr-secondary-l) + 1%));
}
@media (min-width: 990px) {
  .back-to-top {
    bottom: var(--space-ml);
    right: calc(var(--site-margins) - var(--space-l));
  }
}

/*# sourceMappingURL=global.css.map */
